html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

*:focus {
    outline: 2px dotted #FF7500;
    outline-offset: 3px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", "Arial", sans-serif;
    letter-spacing: 0.5px;
}

img {
    max-width: 100%;
    height: auto;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* BASIC BTN */
.basic-btn {
    display: inline-block;
    background-color: #FF7500;
    font-size: 13px;
    line-height: 15.23px;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: #fff;
    font-style: normal;
    transition: opacity 0.4s ease;
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;
    white-space: nowrap;
}

.basic-btn:hover {
    opacity: 0.8;
}

.basic-btn:active {
    opacity: 0.6;
}


/* HEADER */
.site-header {
    background-color: #fff;
    border-top: 5px solid #FF7500;
    padding-top: 16px;
    padding-bottom: 16px;
}

.site-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    margin-right: 10px;
    transition: opacity 0.4s ease;
    display: block;
}

.logo-link:hover {
    opacity: 0.8;
}

.logo-link:active {
    opacity: 0.6;
}

.logo-link__img {
    display: block;
    min-width: 227px;
}

.sitenav {
    display: flex;
    align-items: center;
}

.sitenav__list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 32px;
}

.sitenav__item {
    margin-right: 32px;
}
.sitenav__item:last-child {
    margin-right: 0;
}

.sitenav__link {
    font-size: 13px;
    line-height: 15.23px;
    letter-spacing: 1px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-style: normal;
    transition: 
        color 0.4s ease,
        opacity 0.4s ease;
    white-space: nowrap;
}

.sitenav__link:hover {
    color: #FF7500;
}

.sitenav__link:active {
    opacity: 0.6;
}

.sitenav__link--active {
    border-bottom: 3px solid #FF7500;
}


/* HERO */
.info-items {
    width: 387px;
    padding-top: 40px;
}

.info-items__hero-hr {
    margin: 0;
    margin-bottom: 40px;
}

.book-info {
    background-color: #252420;
    color: #fff;
}

.book-info__container {
    padding-top: 40px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    position: relative;
}


.book-info__img {
    position: absolute;
    border-radius: 8px;
    width: 510px;
    height: 510px;
    left: 590px;
    box-shadow: 24px 24px 0px rgba(255, 117, 0, 0.6);
}

.hero-hr {
    width: 80px;
    height: 3px;
    background-color: #FF7500;
    border: none;
}

.main-title {
    width: 339px;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 24px;
}

.main-info {
    width: 387px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-bottom: 32px;
}

/* FEATURE */
.features {
    padding-top: 210px;
    padding-bottom: 210px;
}

.features__features-hr {
    margin: 0;
    margin-bottom: 24px;
}
.feature__title {
    width: 435px;
    font-family: "Roboto Condensed";
    font-weight: 700;
    font-style: normal;
    line-height: 86.4px;
    letter-spacing: 0.5px;
    font-size: 72px;
    margin-top: 0;
    margin-bottom: 72px;
}

.feature__img-block {
    width: 100px;
    height: 100px;
    background: rgba(255, 117, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.feature__list {
    display: flex;
}

.feature__items {
    width: 340px;
    margin-right: 40px;
}

.feature__items:last-child {
    margin-right: 0;
}

.feature__img {
    width: 46px;
    height: 46px;
}

.feature__items-title {
    font-family: "Roboto Condensed";
    font-size: 24px;
    letter-spacing: 0.5px;
    font-style: normal;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 12px;
}

.feature-items__paragraph {
    width: 314px;
    color: #000;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-size: 16px;
    margin-top: 0;
}

/* ACTION */
.action {
    padding: 64px;
}

.action__container {
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    background-color: #252420;
    padding: 64px;
    position: relative;
}

.action__info-wrapper {
    width: 440px;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #fff;
    margin-top: 0;
}

.action__title {
    width: 373px;
    font-family: "Roboto Condensed";
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    color: #fff;
    letter-spacing: 0.5px;
    line-height: 48px;
    margin: 0;
    margin-bottom: 24px;
}

.action__text-wrapper {
    margin-bottom: 24px;
}

.action__text {
    margin-top: 0;
    margin-bottom: 12px;
}

.action__text:last-child {
    margin-bottom: 0;
}

.action__text--orange {
    color: #FF7500;
}

.action__img {
    border-radius: 12px;
    width: 440px;
    height: 440px;
    position: absolute;
    left: 596px;
    top: -85px;
}


/* FOOTER */
.footer {
    background-color: #F8F8F8;
    padding-bottom: 56px;
}

.footer__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.networking__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.networking__svg {
    display: block;
}

/* Img block */
.networking__item {
    margin-right: 16px;
}

.networking__item:last-child {
    margin-right: 0;
}
.networking__icon {
    display: block;
    width: 24px;
    height: 24px;
    color: #252420;
    transition: 
        color 0.4s ease,
        opacity 0.4s ease;
}

.networking__icon:hover {
    color: #FF7500;
}

.networking__icon:active {
    opacity: 0.6;
}

.footer-hr {
    height: 2px;
    background-color: rgba(37, 36, 32, 0.5);;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 64px;
}

.footer__links {
    display: flex;
}

.footer__list {
    width: 224px;
    list-style: none;
    padding: 0;
    line-height: 19px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 68px;
}

.footer__list:last-child {
    margin-right: 0;
}

.footer__item {
    margin-bottom: 16px;
}

.footer__item:last-child {
    margin-bottom: 0;
}

.footer__links {
    color: #252420;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 18.75px;
    transition: 
        color 0.4s ease,
        opacity 0.4s ease;
    white-space: nowrap;
}

.footer__links:hover {
    color: #FF7500;
}

.footer__links:active {
    opacity: 0.6;  
}